SHELL=/bin/bash
NVIDIA_VISIBLE_DEVICES=all
COLORTERM=truecolor
VSCODE_DEBUGPY_ADAPTER_ENDPOINTS=/root/.vscode-server/extensions/ms-python.debugpy-2025.18.0-linux-x64/.noConfigDebugAdapterEndpoints/endpoint-78016a13f4d12985.txt
TERM_PROGRAM_VERSION=1.111.0
OMNI_PASS=admin
EXP_PATH=/isaac-sim/apps
HOSTNAME=vision-09-rtx3090
PYDEVD_DISABLE_FILE_VALIDATION=1
REMOTE_CONTAINERS_IPC=/tmp/vscode-remote-containers-ipc-07b97f8a-c006-44cc-8a3e-1995f12166da.sock
MIN_DRIVER_VERSION=525.60.11
PWD=/workspace/orbit-surgical
NVIDIA_DRIVER_CAPABILITIES=all
BUNDLED_DEBUGPY_PATH=/root/.vscode-server/extensions/ms-python.debugpy-2025.18.0-linux-x64/bundled/libs/debugpy
VSCODE_GIT_ASKPASS_NODE=/root/.vscode-server/bin/ce099c1ed25d9eb3076c11e4a280f3eb52b4fbeb/node
OMNI_USER=admin
LD_PRELOAD=/isaac-sim/kit/libcarb.so
HOME=/root
LANG=en_US.UTF-8
LS_COLORS=
REMOTE_CONTAINERS=true
PYTHONSTARTUP=/root/.vscode-server/data/User/workspaceStorage/a01471c4b831fd4a8828215b2998d1f5/ms-python.python/pythonrc.py
GIT_ASKPASS=/root/.vscode-server/bin/ce099c1ed25d9eb3076c11e4a280f3eb52b4fbeb/extensions/git/dist/askpass.sh
RESOURCE_NAME=IsaacSim
VSCODE_GIT_ASKPASS_EXTRA_ARGS=
CLAUDE_CODE_SSE_PORT=41283
VK_DRIVER_FILES=/etc/vulkan/icd.d/nvidia_icd.json
PYTHONPATH=/workspace/orbit-surgical::/isaac-sim/../../..//workspace/orbit-surgical::/isaac-sim/kit/python/lib/python3.10/site-packages:/isaac-sim/python_packages:/isaac-sim/exts/omni.isaac.kit:/isaac-sim/exts/omni.isaac.gym:/isaac-sim/kit/kernel/py:/isaac-sim/kit/plugins/bindings-python:/isaac-sim/exts/omni.isaac.lula/pip_prebundle:/isaac-sim/exts/omni.exporter.urdf/pip_prebundle:/isaac-sim/kit/exts/omni.kit.pip_archive/pip_prebundle:/isaac-sim/exts/omni.isaac.core_archive/pip_prebundle:/isaac-sim/exts/omni.isaac.ml_archive/pip_prebundle:/isaac-sim/exts/omni.pip.compute/pip_prebundle:/isaac-sim/exts/omni.pip.cloud/pip_prebundle
TERM=xterm-256color
IsaacLab_PATH=/workspace/isaaclab
ACCEPT_EULA=Y
PYTHON_BASIC_REPL=1
VSCODE_NONCE=74bf442c-37bc-4200-95b6-dd71fbd9feed
REMOTE_CONTAINERS_SOCKETS=[]
VSCODE_GIT_IPC_HANDLE=/tmp/vscode-git-dd44c4fa25.sock
SHLVL=3
OMNI_ENV_PRIVACY_CONSENT=Y
LD_LIBRARY_PATH=:/isaac-sim/../../../:/isaac-sim/.:/isaac-sim/exts/omni.usd.schema.isaac/plugins/IsaacSensorSchema/lib:/isaac-sim/exts/omni.usd.schema.isaac/plugins/RangeSensorSchema/lib:/isaac-sim/exts/omni.isaac.lula/pip_prebundle:/isaac-sim/exts/omni.exporter.urdf/pip_prebundle:/isaac-sim/kit:/isaac-sim/kit/kernel/plugins:/isaac-sim/kit/libs/iray:/isaac-sim/kit/plugins:/isaac-sim/kit/plugins/bindings-python:/isaac-sim/kit/plugins/carb_gfx:/isaac-sim/kit/plugins/rtx:/isaac-sim/kit/plugins/gpu.foundation
PRIVACY_CONSENT=Y
VSCODE_GIT_ASKPASS_MAIN=/root/.vscode-server/bin/ce099c1ed25d9eb3076c11e4a280f3eb52b4fbeb/extensions/git/dist/askpass-main.js
ISAAC_PATH=/isaac-sim
BROWSER=/root/.vscode-server/bin/ce099c1ed25d9eb3076c11e4a280f3eb52b4fbeb/bin/helpers/browser.sh
PATH=/root/.vscode-server/bin/ce099c1ed25d9eb3076c11e4a280f3eb52b4fbeb/bin/remote-cli:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/root/.vscode-server/extensions/ms-python.debugpy-2025.18.0-linux-x64/bundled/scripts/noConfigScripts
OMNI_SERVER=http://omniverse-content-production.s3-us-west-2.amazonaws.com/Assets/Isaac/4.1
CARB_APP_PATH=/isaac-sim/kit
TERM_PROGRAM=vscode
VSCODE_IPC_HOOK_CLI=/tmp/vscode-ipc-a426fe38-8cb4-43f6-89f2-456df508efc8.sock
_=/isaac-sim/kit/python/bin/python3
LC_CTYPE=C.UTF-8
